input[type='checkbox']:checked + label {
	text-decoration: line-through;
}

input[type='checkbox'] {
	appearance: none;
	margin: 0;
	width: 30px;
	height: 30px;
	border: 2px solid #333;
	border-radius: 50%;
	display: grid;
	place-content: center;
	transition: all 300ms;
}

input[type='checkbox']:checked {
	background-color: #ccc;
}

input[type='checkbox']:checked::before {
	content: '\00d7';
}

/* .task-label:focus {
	background-color: #ccc;
	outline: 0;
}

.task-label[contenteditable]:hover {
	background-color: #ccc;
} */
